/* .container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    gap: 5px;
    /* justify-content: center;
    align-items: center; 
    position:absolute;
    
}

.item{
    border: 1px solid black;
    background-color: rgb(249, 241, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}

.item img{
    width: 100px;
    height: 100px;
    
}*/

.navbar {
  background-color: rgb(167, 166, 166);
  padding: 0px;
  height: 63px;
  margin: 0px;
  display: flex;
  border-radius: 50px;
  /* border: 6px solid rgb(118, 6, 6); */
}

#home {
  padding: 10px;
  margin: 5px;

  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#About {
  padding: 10px;
  margin: 5px;

  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#services {
  padding: 10px;
  margin: 5px;

  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#blank {
  padding: 10px;
  margin: 5px;
  width: 739px;
  color: rgb(252, 252, 252);
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#contact {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}

#login {
  padding: 10px;
  margin: 5px;
  /* border: greenyellow solid 2px; */
  color: rgb(198, 7, 7) solid 2px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  color: rgb(0, 255, 187);
}

#login button {
  background-color: sandybrown;
}

.corner {
  background-color: rgb(167, 166, 166);
  padding: 2px;
  margin: 2px;
  display: flex;
  /* border: red solid 2px; */
}

#banner img {
  width: 100%;
  height: 459px;
  display: block;
  /* justify-content: center;
    align-items: center; */
}
.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 200px;
  position:relative;
  bottom: 60px;
}
#card1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
#card2 {
  display: flex;
  flex-direction: column;
}
#card3 {
  display: flex;
  flex-direction: column;
}

#c1,
#c2,
#c3 {
  background-color: rgb(167, 166, 166);
  padding: 10px;
  margin: 5px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  height: 100px;
}