body{
    background-color: burlywood;
    margin: 0;
    padding: 0;
}

.nav1{
    width: 100%;
    height: 7vh;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#home-icon{
    width: 10px;
    height: 7vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
}

#options a{
    width: 50%;
    height: 7vh;
    display: flex;
    color: rgb(8, 0, 0);
    text-decoration: none;
    justify-content: center;
    font-size: 15px;
}

#options{
    width: 75%;
    height: 7vh;
    display: flex;
    color: rgb(17, 1, 1);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 9px;
    gap: 10px;
}

#options a:hover{
    color: #03eaff;
}

#social{
    
}