body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 75px;
    background-color: #f0f0f0;
}

.form-container{
    border: rgb(10, 10, 150) solid 2px;
    height: 370px;
    width: 300px;
    padding: 20px;
    margin-top: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    width: 300px;
}

#email, #phoneno, #bio{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#bio{
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2{
    text-align: center;
    color: rgb(123, 5, 5);
}

#submit{
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 8px;
    color: yellow;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 25px;
}

#submit:hover{
    background-color: #29e80c;
    color: #19048e;
}