.main{
    border: 2px solid #fdfcfc;
    height:27vh;
    width: 100%;

}

.nav1{
    display: flex;
    height: 7vh;
    width: 99%;
    border-radius: 8px;;
    padding: 3px;
    margin: 4px;
    background-color: rgb(4, 13, 94);
    color: rgba(245, 245, 245, 0.678);
    align-items: center;
}

#nav11{
    display: flex;
    width: 50%;
    color: black;
    font-size: 25px;
    color: whitesmoke;
}

#nav12{
    display: flex;
    width: 50%;
    color: black;
    font-size: 25px;
    text-align: right;
    justify-content: flex-end;
    color: rgb(242, 159, 5);
}

.nav2{
    display: flex;
    border: 2px solid white;
    height: 7vh;
    width: 99%;
    border-radius: 8px;;
    padding: 3px;
    margin: 4px;

}

#nav211 img{
    display: flex;
    width: 150%;
    height: 7vh;
}

#nav212 button{
    display: flex;
    width: 120%;
    height: 7vh;
    background-color: rgba(242, 243, 245, 0.786);
    color: rgba(6, 100, 241, 0.786);
    font-size: 20px;
    border: 3px solid rgb(6, 100, 241);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

#nav212 button:hover{
    background-color: rgb(12, 6, 115);
    color: #3bfc00;
}

#nav21{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    
    
}

#nav213 button{
    display: flex;
    width: 150%;
    height: 7vh;
    background-color: rgba(127, 150, 185, 0);
    color: rgb(86, 77, 77);
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: None;
    cursor: pointer;
}

#nav213 button:hover{
    background-color: rgb(12, 6, 115);
    color: #3bfc00;
}


#nav22{
    display: flex;
    height: 7vh;
    width: 60%;
    justify-content: center;
    align-items: center;
}
 #nav221{
    display: flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
 }

 #ac, #ct, #src{
    display: flex;
    height: 7vh;
    width: 174px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 5px;

    
 }

 #nav222{
    display: flex;
    width: 160px;
    height: 7vh;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
 }

 #su button{
    display: flex;
    height: 7vh;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-color: rgb(7, 119, 211);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    
 }
button:hover{
        background-color: rgb(12, 6, 115);
        color: rgb(205, 7, 235);
    }
 #lg button{
    display: flex;
    height: 7vh;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-color: rgb(7, 119, 211);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
 }

.nav3{
    display: flex;
    height: 8vh;
    width: 99%;
    border: 2px solid rgb(242, 242, 246);
    padding: 3px;
    margin: 4px;
    background-color: rgb(240, 240, 243);
}

#brc button{
    display: flex;
    width: 120%;
    height: 7vh;
    background-color: rgba(242, 243, 245, 0.786);
    color: rgba(8, 8, 10, 0.786);
    font-size: 20px;
    /* border-radius: 10px; */
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    border: None;
    cursor: pointer;
    
}
#brc button:hover{
    background-color: rgb(12, 6, 115);
    color: #3bfc00;
}

#domain{
    display: flex;
    gap: 70px;
    margin-left: 125px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: grey;
}

#more{
    display: flex;
    gap: 70px;
    margin-left: 77px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: grey;
}

.cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: auto; */
  width: 100%;
  height: 200px;
  /* margin-bottom: 30px; */
  position: relative;
  bottom: 90px;
}
#card1 {
  display: flex;

  flex-direction: column;
}
#card2 {
  display: flex;
  flex-direction: column;
}
#card3 {
  display: flex;
  flex-direction: column;
}

#c1,
#c2,
#c3 {
  background-color: rgb(248, 245, 245);
  padding: 10px;
  margin: 5px;
  color: black;
  font-size: 25px;
  /* font-weight: bold; */
  font-family: Arial, sans-serif;
  display: flex;
  height: 100px;
}

#b1 button,
#b2 button,    
#b3 button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: None;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  color: blue;
}

#tc{
    display: flex;
    padding: 10px;
    margin-left: 50px;
    /* margin-bottom: 40px; */
    font-size: 30px;
    font-family: montserrat, sans-serif;
    /* font-weight: bold; */
    color: #1f2c56cf;
}

.trcs{
    display: flex;
    height: 8vh;
    width: 99%;
    border: 2px solid rgb(242, 242, 246);
    padding: 3px;
    margin: 4px;
    background-color: rgb(240, 240, 243);
}

#more1{
    display: flex;
    gap: 70px;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: grey;
}

#d11{
    display: flex;
    height: 7vh;
    width: 80px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba(27, 27, 53, 0.648);
    text-decoration: underline solid rgb(3, 3, 69);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.catalog{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-template-rows: 300px 300px;
    gap: 75px;
    justify-content: center;
    align-items: center; 
    position:absolute;
    margin-top: 50px;
    margin-left: 50px;
}

#item img{
    width: 350px;
    height: 350px;
}
