body{
    margin: 0;
    padding: 0;
}

.main{
    padding: 17px;
    
    background-color: rgba(118, 6, 6, 0.912); 
    justify-content: center;   
    width: 100vw;
    height: 100vh;
    
}

#orange{
    padding: 10px;
    background-color: orange;
    height: 25vh;
    width: 95vw;
    /* border-radius: 50px; */

}

#white{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 95vw;
    /* border-radius: 50px; */
}

#green{
    padding: 10px;
    background-color: green;
    height: 25vh;
    width: 95vw;
    /* border-radius: 50px; */
}

#chakra img{
    padding: 10px;
    height: 20vh;
    width: 10vw;
}

@media only screen and (max-width:300px){
    .main{
    
    background-color: rgba(118, 6, 6, 0.912); 
    justify-content: center; 
    width: 100%;
    height: 75%;  
    
}

#orange{
    padding: 10px;
    background-color: orange;
    height: 100px;
    width: 280px;
    

}

#white{
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 280px;
    
}

#green{
    padding: 10px;
    background-color: green;
    height: 100px;
    width: 280px;
    
}

#chakra img{
    padding: 10px;
    height: 20vh;
    width: 20vw;
}
} 